# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# Debug logs
npm-debug.*
yarn-debug.*
yarn-error.*

# Sistema operativo
.DS_Store
Thumbs.db
Desktop.ini

# Entorno y configuración
.env
.env.local
.env*.local

# IDE y editores
.vscode/
.idea/
*.swp
*.swo

# TypeScript
*.tsbuildinfo

# Directorios específicos
/Desktop
/Isa/*
!Isa/Entrega_Final/

# Archivos de respaldo
*.bak
*~
*.tmp
